@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
.flex-wrapper, .flex-wrapper-2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
 

.flex-wrapper {
    flex-wrap: wrap;
}
.proj-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 20px;
    width: 50%;
}
.socials-mini-header {
    font-weight: 200;
}
.main-header{
    font-family: "Figtree";
    font-weight: 450;
    padding-top: 50px;
    padding-left: 40px;
    font-size: 85px;

}
.mini-header {
    font-weight: 500px;
    

}
.header-wrapper-contact{
    padding-left: 50px;
    max-width: 1110px;
}
.little-blurb-contact{
    font-family: "Arvo";
    font-size: 25px;
    padding-left: 60px;

}