@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/* Contact Form Styles */
.contact-form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-form {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    padding: 2.25rem;

    border-color: solid black;
    border-radius: 1.25rem;
    background-color: whitesmoke;
    width: 60%;
}