@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    font-family: "Figtree";
    font-weight: 450;
    padding-top: 50px;
    padding-left: 40px;
    font-size: 85px;
    text-align: center;
}

p {
    color: #666;
    line-height: 2;
}

.donate-button {
    background-color: #0084ff;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    
}

.donate-content-container {
    display: flex;
    flex-direction: row;
}


/* Mobile view - Stack layout */
@media screen and (max-width: 768px) {
    .donate-wrapper {
        flex-direction: column; /* Stack the children */
    }

    .main-header {
        font-size: 48px; /* Smaller font size for mobile */
        
    }

    .usmo-picture img {
        max-width: 60%;
    }

    .usmo-picture {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically (if needed) */
        margin-bottom: 20px;
    }
 
    .donate-blurb {
        max-width: 100%;
        margin-bottom: 20px; /* Add some space above the image */
        font-size: 15px;
    }

    .donate-button {
        display: flex;
        justify-content: center;
        width: 100%; /* Full width to center on the page */
        
    }

    button {
        background-color: #0084ff;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-top: 5px;
        margin-bottom: 40px;
    }
}

