.hero-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container{
    width: auto;
    height: auto;
}

.banner-image {
    width: 100%;
}

.title{
    margin-top: 3rem;
    font-size: 5rem;
    color: cornflowerblue;
    font-style: bold;
}

.subtitle{
    font-size: 2rem;
    text-align: center;
    color: cornflowerblue;
}

.mission{
    display: flex;
    min-height: 30vh;
    margin: 1.5em;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
}

h2{
    padding: 1em; 
    box-sizing: border-box;
    font-size: 3.5vw;
    align-self: flex-start;

}

.missionp{
    padding: 1em;
    margin: 0em;
    align-self: flex-start;
    font-size: 2vw;
}

.services{
    background-color: grey;
    min-height: 30vh;
}

.wrapper0{
    display:flex;
    justify-content: space-evenly;
    align-items: center;  
}

.icon-container{
    text-align:center;
}