body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Container Styles */
.header-container {
  font-family: "Figtree";
  color: white;
  text-align: center;

  padding: 1.5rem;
  
  width: 100%;
  background-color: rgba(17, 103, 178, 0.56);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container h1 {
  font-size: 3.75rem;
  font-weight: 700;
}

.header-container p {
  font-size: 1.75rem;
  font-weight: 400;
  width: 80%;
}

/* Card Styles */
.card {
  background-color: #fff;
  border-radius: 0.5em;
  padding: 1.5em;
  margin: 1em auto;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.1);
}

/* Partnerships Styles */
.our-partnerships-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.0rem;
  justify-content: center;
  align-items: start; 
}

.our-partnerships-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  width: 150px;
  height: 200px; 
  /* justify-content: space-between;  */
}

.our-partnerships-logo {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.our-partnerships-logo img {
  width: 90%;
  height: 90%;
  object-fit: contain; 
}

.our-partnerships-item p {
  font-size: 14px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-bottom: 10px;
  align-self: center;
  text-align: center;
}

.our-partnerships-name {
  font-size: 14px;
  align-self: center;
  text-align: center;
}

.our-partnerships-wrapper{
  padding: 20px;
}

.our-partnerships-grid:has(:last-child:nth-child(5n + 1)) {
  justify-content: center;
}


/* Text Container Styles */
.text-container-left, .text-container-right, .text-container-top {
  top: 0;
  left: 0;
  transform: translate(15%, 0%);
  gap: 0;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.text-container-left h2, .text-container-right h2, .text-container-top h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

.text-container-left, .text-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.text-container-left h2 {
  margin-left: 2.75rem;
}

.text-container-left p {
  margin-right: 2.75rem;
  font-size: 1rem;
  text-align: start;
}

.text-container-right h2 {
  margin-right: 2.75rem;
}

.text-container-right p {
  margin-left: 2.75rem;
  font-size: 1rem;
}

.text-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  text-align: center;
}

.text-container-top p {
  font-size: 1rem;
  text-align: start;
}

/* Nav Bar Styles */
.nav-bar {
  border-bottom: 0.063rem solid black;
  margin: 0;
  list-style-type: none;
  background-color: whitesmoke;
  width: auto;
}

.link-list, .home {
  padding-top: 0.625rem;
  font-family: var(--ff-sans);
  font-weight: 250;
  font-size: 1.125rem;
  color:var(--background-color);
  justify-content: right;
  transition: 0.25s ease;
  border-radius: 1.875rem;
}

.link-list{
  padding-bottom: 0.438rem;
  vertical-align: middle;
}

.nav-item {
  position: relative;
  list-style: none;
  margin: 0 2.188rem 0 2.188rem;
  padding: 0;
  color: black;
  text-decoration: none;
}

.nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.063rem;
  background-color: black;
  transition: width 0.25s ease-out;
}

.nav-item:hover::before {
  width: 100%;
}

.nav-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.063rem;
  background-color: black;
  transition: width 0.25s ease-out;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.5rem;
  height: 0.063rem;
  margin: 0.625rem auto;
  transition: all 0.3s ease-out;
  background-color: var(--text-primary);
}

.link{
  text-decoration:underline;
}

.hero-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  font-size: 10vw;
  margin-left: 1em;
  margin-right: 1em;
}

.title{
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.sub1{
  font-size: .5rem;
  text-align: center;
  margin-top: 0rem;
  padding: 0em;
}

.mission{
  display: flex;
  min-height:20vh;
  margin:1em;
}

.services{
  background-color: grey;
  min-height: 30vh;
}


@media (max-width: 768px) {
  .text-container-left, .text-container-right {
    flex-direction: column;
  }

  .text-container-right h2 {
    margin: 0;
  }
  
  .text-container-right p {
    margin: 0;
    text-align: center;
  }

  .text-container-left h2 {
    margin: 0;
  }
  
  .text-container-left p {
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 514px) {
  .header-container h1 {
    font-size: 2rem;
  }
  
  .header-container p {
    font-size: 1rem;
    font-weight: 400;
    width: 80%;
  }

  .text-container-left h2, .text-container-right h2, .text-container-top h2 {
    font-size: 2rem;
  }

  .text-container-left p, .text-container-right p, .text-container-top p {
    font-size: 0.575rem;
  }

  strong {
    font-size: 0.575rem;
  }
}