body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-bar {
  border-bottom: 1px solid black;
  margin: 0px;
  list-style-type: none;
  background-color: whitesmoke;
  width: auto;
}
.link-list, .home {
  padding-top:10px;
  font-family: var(--ff-sans);
  font-weight: 250;
  font-size: 18px;
  color:var(--background-color);
  justify-content: right;
  transition: 0.25s ease;
  border-radius: 30px;
}
.link-list{
  padding-bottom: 7px;
  vertical-align: middle;
}
.nav-item {
  position: relative;
  list-style: none;
  margin: 0px 35px 0px 35px;
  padding: 0px 0px 0px 0px;
}
.nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.25s ease-out;
}
.nav-item:hover::before {
  width: 100%;
}
.nav-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: width 0.25s ease-out;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 24px;
  height: 1px;
  margin: 10px auto;
  transition: all 0.3s ease-out;
  background-color: var(--text-primary);
}
.link{
  text-decoration:underline;
}
.hero-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:50vh ;
  font-size: 10vw;
  margin-left: 1em;
  margin-right: 1em;
}
.title{
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.sub1{
  font-size: .5em;
  text-align: center;
  margin-top: 0em;
  padding: 0em;
}
.mission{
  display: flex;
  min-height:20vh;
  margin:1em;
}
p{
  padding:.9em;
  margin:0em;
}
.services{
  background-color: grey;
  min-height: 30vh;
}