body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar { 
  border-bottom: 1px solid black;
  margin: 0px;
  list-style-type: none;
} 
.link-list, .home {
  padding-top:10px;
  font-family: var(--ff-sans);
  font-weight: 250;
  font-size: 18px;
  color:var(--background-color);
  justify-content: right;
  align-items: right;
  text-align:right;
  transition: 0.25s ease;
  border-radius: 30px;
}

.nav-item {
  position: relative;
  list-style: none;
  margin: 0px 35px 0px 35px;
  padding: 0px 0px 0px 0px;
}

.underline::before, .underlined::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.25s ease-out;
}

.underline:hover::before, .underlined::before {
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 24px;
  height: 1px;
  margin: 10px auto;
  transition: all 0.3s ease-out;
  background-color: var(--text-primary);
}
.link{
  text-decoration:underline;
}


/* okI know how this works this is incredible!!! Killing myself is SO delayed! */ 
